Django
django-allauth[socialaccount]
django_crispy_forms
crispy-bootstrap5
django_debug_toolbar
django_filter
djangorestframework
django_simple_history
django_widget_tweaks
mysqlclient
xmltodict
PyJWT
hfst
pyhfst
lxml
mikatools
python-decouple
requests
tqdm
uralicNLP
xmlschema
psycopg2-binary
networkx