Django
django-allauth
django_crispy_forms
django_debug_toolbar
django_filter
djangorestframework
django_simple_history
django_widget_tweaks
PyJWT
hfst
pyhfst
lxml
mikatools
python-decouple
requests
tqdm
uralicNLP
xmlschema
psycopg2-binary