Django==2.2.1
django-allauth==0.39.1
django_crispy_forms==1.9.2
django_debug_toolbar==1.11
django_filter==2.1.0
djangorestframework==3.11.1
django_simple_history==2.7.2
django_widget_tweaks==1.4.3
hfst==3.15.0.0b0
lxml==4.3.3
mikatools==0.0.6
python-decouple==3.3
requests==2.22.0
tqdm==4.36.1
uralicNLP==1.2.2
xmlschema==1.2.2