{% load i18n %}

<h1>{% trans "Lexeme" %}: {{ object.lexeme }}{% if user.is_authenticated %} (<a
        href="{% url 'element-edit' pk=object.pk slug=object.slug %}">{% trans "edit" %}</a>){% endif %}</h1>
<div id="lexeme-details">
    <p><b>{% trans "Language (ISO 639-2)" %}:</b> {{ object.language }}</p>
    <p><b>{% trans "POS" %}:</b> {{ object.pos }}</p>
    <p><b>{% trans "Last edit" %}:</b> {{ object.history.first.history_date }}</p>
    <p><b>{% trans "Processed" %}:</b>
        {% if object.checked %}{% trans "True" %}{% else %}{% trans "False" %}{% endif %}</p>
    <p><b>{% trans "Notes" %}:</b> {{ object.notes|linebreaksbr }}</p>
</div>