{% load i18n %}
{% load custom_tags %}
<h2>{% trans "Examples" %}{% if user.is_admin_or_staff %} (<a href="{% url 'example-add' lexeme_id=object.pk %}">{% trans "add" %}</a>){% endif %}:</h2>
{% with object.example_set.all as examples %}
    {% if examples %}
        <ul>
            {% for obj in examples %}
                <li>{% if obj.source %}{{ obj.source }}: {% endif %}{{ obj.text }}{% if obj.notes %} ({{ obj.notes }}){% endif %}{% if user.is_admin_or_staff %} (<a href="{% url 'example-edit' pk=obj.pk %}">{% trans "edit" %}</a>/<a href="{% url 'example-delete' lexeme_id=object.pk pk=obj.pk %}">{% trans "delete" %}</a>){% endif %}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}