{% extends 'template.html' %}
{% load i18n %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block main_content %}
    <div class="row sticky-sidebar-container d-none d-xl-block">
        <div class="col">
            <div class="sticky-sidebar" style="left: -140px;">
                <h3>{% trans "Previous Lexemes" %}</h3>
                {% include 'lexeme_short_list.html' with object_list=prev_objects %}
            </div>
            <div class="sticky-sidebar" style="right: -140px;">
                <h3>{% trans "Next Lexemes" %}</h3>
                {% include 'lexeme_short_list.html' with object_list=next_objects %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include 'lexeme_data.html' with object=object %}
            {% include 'example_data.html' with object=object %}

            <h2>{% trans "Mini Paradigms" %}{% if user.is_authenticated %} (<a href="{% url 'mini-paradigm-add' lexeme_id=object.pk %}">{% trans "add" %}</a>){% endif %}:</h2>

            {% include 'mini_paradigm_data.html' with object=object generated_miniparadigms=short_generated_miniparadigms %}
            <div class="text-right">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#all-miniparadigms-modal">
                  {% trans "See all mini paradigms" %}
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="all-miniparadigms-modal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">{% trans "All Mini Paradigms" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {% include 'mini_paradigm_data.html' with object=object %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                  </div>
                </div>
              </div>
            </div>

            <h2>{% trans "Relations" %}{% if user.is_authenticated %} (<a href="{% url 'relation-add' lexeme_id=object.pk %}">{% trans "add" %}</a>){% endif %}:</h2>
            {% with object.get_relations as relations %}
                {% if relations %}
                    <div id="relation-details">
                        {% include "relation_data_list.html" with relations=relations lexeme=object %}
                    </div>
                {% endif %}
            {% endwith %}

            {% if user.is_authenticated and not object.checked %}
                <form action="{% url 'lexeme-approve' pk=object.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">
                        {% trans "Approve" %}
                    </button>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}