{% extends 'template.html' %}
{% load i18n %}
{% load custom_tags %}

{% block main_content %}
    <div class="row sticky-sidebar-container d-none d-xl-block">
        <div class="col">
            <div class="sticky-sidebar" style="left: -140px;">
                <h3>{% trans "Previous Lexemes" %}</h3>
                {% include 'lexeme_short_list.html' with object_list=prev_objects %}
            </div>
            <div class="sticky-sidebar" style="right: -140px;">
                <h3>{% trans "Next Lexemes" %}</h3>
                {% include 'lexeme_short_list.html' with object_list=next_objects %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include 'lexeme_data.html' with object=object %}
            <h2>{% trans "Mini Paradigms" %}{% if user.is_authenticated %} (<a href="{% url 'mini-paradigm-add' lexeme_id=object.pk %}">{% trans "add" %}</a>){% endif %}:</h2>

            {% include 'mini_paradigm_data.html' with object=object %}

            <h2>{% trans "Relations:" %}</h2>
            {% with object.get_relations as relations %}
                {% if relations %}
                    <div id="relation-details">
                        {% include "relation_data_list.html" with relations=relations %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>

{% endblock %}