{% load i18n %}
{% with object.miniparadigm_set.all as miniparadigms %}
    {% if miniparadigms or generated_miniparadigms %}
        <div id="miniparadigm-details">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "MSD" %}</th>
                    <th>{% trans "Word form" %}</th>
                </tr>
                </thead>
                <tbody>
                {% if miniparadigms %}
                    {% for m in miniparadigms %}
                        <tr>
                            <td>{{ m.id }}</td>
                            <td>{{ m.msd }}</td>
                            <td>{{ m.wordform }}{% if user.is_admin_or_staff %} (<a href="{% url 'mini-paradigm-edit' pk=m.pk %}">{% trans "edit" %}</a>){% endif %}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if generated_miniparadigms %}
                    {% for msd, wordforms in generated_miniparadigms.items %}
                        {% for wordform in wordforms %}
                            <tr>
                                {% if forloop.first %}
                                    <td rowspan="{{ wordforms|length }}">-</td>
                                {% endif %}
                                <td>{{ msd }}</td>
                                <td>{{ wordform }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endwith %}