{% load i18n %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% include 'relation_base_detail.html' with object=object %}
    {% if object.lexeme_to %}
        <div class="center-block text-center">
            {% if switch_form %}
                <div class="row mb-3">
                    <div class="col-12">
                        {% crispy switch_form %}
                    </div>
                </div>
            {% endif %}
            {% if reverse_form %}
                <div class="row mb-3">
                    <div class="col-12">
                        {% crispy reverse_form %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% include 'relation_data.html' with object=object %}