{% extends 'template.html' %}
{% load i18n %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block main_content %}
    <h2>{% trans "Add Relation" %}:</h2>
    {% crispy form %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
      $(function() {

        var currentRequest = null;  // Variable to keep track of the current request

        function debounce(func, wait, immediate) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                var later = function() {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        }

        var fetchData = debounce(function(query) {
            if (currentRequest != null) {
                currentRequest.abort();
                currentRequest = null;
                clearResults();
            }
    
            currentRequest = $.ajax({
                url: '{% url "lexeme-search" %}',
                type: 'GET',
                data: { q: query },
                success: function(data) {
                    currentRequest = null;
                    displayResults(data.map(item => ({
                        label: `${item.lexeme} (${item.pos}) - ${item.homoId} ${item.language}`,
                        value: item.id
                    })));
                }
            });
        }, 250); 
    
        $('#lexemeSearch').on('input', function() {
            var query = $(this).val();
            var isNumeric = /^\d+$/.test(query);
            var minLength = isNumeric ? 0 : 3;
            
            if (query.length >= minLength) {
                clearResults();
                fetchData(query);
            } else {
                clearResults();
            }
        });

        function displayResults(results) {
            let $resultsDropdown = $('#resultsDropdown');
            if (!$resultsDropdown.length) {
                $resultsDropdown = $('<div id="resultsDropdown" class="list-group"></div>').insertAfter('#lexemeSearch');
            }
            $resultsDropdown.empty();
            results.forEach(function(item) {
                $('<button type="button" class="list-group-item list-group-item-action"></button>')
                    .text(item.label)
                    .data('value', item.value)  
                    .on('click', function() {
                        $('#lexemeSearch').val($(this).data('value')); 
                        $('#selectedDetails').val($(this).text()); 
                        $('#selectedDetails').prop('disabled', true); 
                        clearResults();
                    })
                    .appendTo($resultsDropdown);
            });
        }

        function clearResults() {
            $('#resultsDropdown').remove();
        }

        $(document).on('click', function(e) {
            if (!$(e.target).closest('#lexemeSearch').length) {
                clearResults();
            }
        });

        $('form').on('submit', function() {
            $('#selectedDetails').prop('disabled', true);
        });
        
        $('.dropdown-menu').css({'top': 'auto', 'left': 'auto'})
      });
    </script>
{% endblock %}