{% load i18n %}
{% load custom_tags %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>{% trans "ID" %}</th>
        <th>{% trans "From" %}</th>
        <th>{% trans "To" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Sources" %}</th>
        <th>{% trans "Examples" %}</th>
        <th>{% trans "Metadata" %}</th>
        <th>{% trans "Notes" %}</th>
        <th>{% trans "Actions" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for object in relations %}
        <tr {% if object.checked %}class="table-success"{% endif %}>
            <td>{{ object.id }}</td>
            <td>{{ object.lexeme_from.lexeme }}</td>
            <td>{{ object.lexeme_to.lexeme }}</td>
            <td>{{ object.type_str }}</td>
            <td>
                {% with object.source_set.all as sources %}
                    <ul>
                        {% if sources %}
                            {% for s in sources %}
                                <li>{{ s }} (<a href="{% url 'source-detail' pk=s.pk %}">{% trans "view" %}</a>{% if user.is_authenticated %}/<a href="{% url 'source-edit' pk=s.pk %}">{% trans "edit" %}</a>/<a href="{% url 'source-delete' lexeme_id=lexeme.pk pk=s.pk %}">{% trans "delete" %}</a>{% endif %})</li>
                            {% endfor %}
                        {% endif %}
                        {% if user.is_authenticated %}<li><a href="{% url 'source-add' lexeme_id=lexeme.pk relation_id=object.pk %}">{% trans "add" %}</a></li>{% endif %}
                    </ul>
                {% endwith %}
            </td>
            <td>
                {% with object.relationexample_set.all as examples %}
                    <ul>
                        {% if examples %}
                            {% for e in examples %}
                                <li>{{ e }}{% if e.notes %} ({{ e.notes }}){% endif %}{% if e.source %} - {{ e.source }}{% endif %}{% if user.is_authenticated %} (<a href="{% url 'relation-example-edit' pk=e.pk lexeme_id=lexeme.pk %}">{% trans "edit" %}</a>/<a href="{% url 'relation-link' pk=e.pk %}">{% trans "link" %}</a>/<a href="{% url 'relation-example-delete' lexeme_id=lexeme.pk pk=e.pk %}">{% trans "delete" %}</a>){% endif %}</li>
                                {% if e.linked_examples %}
                                    <ul class="dashed">
                                        {% for le in e.linked_examples %}
                                            <li>{{ le.example_to.pk }}{% if le.notes %}: {{ le.notes }}{% endif %}{% if user.is_authenticated %} (<a href="{% url 'relation-link-edit' pk=le.pk lexeme_id=lexeme.pk %}">{% trans "edit" %}</a>/<a href="{% url 'relation-link-delete' lexeme_id=lexeme.pk pk=le.pk %}">{% trans "delete" %}</a>){% endif %}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if user.is_authenticated %}<li><a href="{% url 'relation-example-add' lexeme_id=lexeme.pk relation_id=object.pk %}">{% trans "add" %}</a></li>{% endif %}
                    </ul>
                {% endwith %}
            </td>
            <td>
                {% with object.relationmetadata_set.all as metadata %}
                    <ul>
                        {% if metadata %}
                            {% for md in metadata %}
                                <li>{{ md }}{% if user.is_authenticated %} (<a href="{% url 'relation-metadata-edit' pk=md.pk lexeme_id=lexeme.pk %}">{% trans "edit" %}</a>/<a href="{% url 'relation-metadata-delete' lexeme_id=lexeme.pk pk=md.pk %}">{% trans "delete" %}</a>){% endif %}</li>
                            {% endfor %}
                        {% endif %}
                        {% if user.is_authenticated %}<li><a href="{% url 'relation-metadata-add' lexeme_id=lexeme.pk relation_id=object.pk %}">{% trans "add" %}</a></li>{% endif %}
                    </ul>
                {% endwith %}
            </td>
            <td>{{ object.notes|linebreaksbr }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{% url 'relation-detail' pk=object.pk %}?{% query_transform request %}">{% trans "view" %}</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'relation-edit' pk=object.pk %}">{% trans "edit" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'relation-delete' lexeme_id=lexeme.pk pk=object.pk %}">{% trans "delete" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>