{% load i18n %}
{% load custom_tags %}
<h2>{% trans "Stems" %}{% if user.is_admin_or_staff %} (<a href="{% url 'stem-add' lexeme_id=object.pk %}">{% trans "add" %}</a>){% endif %}:</h2>
{% if stems %}
    <ul>
        {% for obj in stems %}
            <li>{{ obj.order }} - {{ obj.text }}{% if obj.contlex %} ({{ obj.contlex }}){% endif %}{% if user.is_admin_or_staff %} (<a href="{% url 'stem-edit' pk=obj.pk %}">{% trans "edit" %}</a>/<a href="{% url 'stem-delete' lexeme_id=object.pk pk=obj.pk %}">{% trans "delete" %}</a>){% endif %}</li>
        {% endfor %}
    </ul>
{% endif %}