{% extends 'template.html' %}
{% load i18n %}
{% load custom_tags %}
{% load widget_tweaks_extras %}
{% load widget_tweaks %}

{% block main_content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{% trans "Id" %}</th>
            <th>{% trans "Symbol" %}</th>
            <th>{% trans "Comment" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?{% param_replace page=1 %}">{% trans "First" %}</a>
            {% if page_obj.previous_page_number != 1 %}
                <a href="?{% param_replace page=page_obj.previous_page_number %}">{% trans "Previous" %}</a>
            {% endif %}
        {% endif %}

        {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}

        {% if page_obj.has_next %}
            {% if page_obj.next_page_number != paginator.num_pages %}
                <a href="?{% param_replace page=page_obj.next_page_number %}">{% trans "Next" %}</a>
            {% endif %}
            <a href="?{% param_replace page=paginator.num_pages %}">{% trans "Last" %}</a>
        {% endif %}
        <p></p>
    {% endif %}
    <p><b>{% trans "Total" %}:</b> {{ page_obj.paginator.count }} {% if is_paginated %}({% trans "Showing" %}:
        {{ page_obj.start_index }}—{{ page_obj.end_index }}){% endif %}</p>

{% endblock %}