{% extends 'template.html' %}
{% load i18n %}
{% load custom_tags %}

{% block main_content %}
    {% include 'element_data.html' with object=object.element %}
    {% include 'translation_data.html' with object=object %}
    <h2>{% trans "Mini Paradigms" %}:</h2>
    {% with object.miniparadigm_set.all as miniparadigms %}
        {% if miniparadigms %}
            <div id="miniparadigm-details">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{% trans "ID" %}</th>
                        <th>{% trans "MSD" %}</th>
                        <th>{% trans "Word form" %}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for m in miniparadigms %}
                        <tr>
                            <td>{{ m.id }}</td>
                            <td>{{ m.msd }}</td>
                            <td>{{ m.wordform }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% elif generated_miniparadigms %}
            <div id="miniparadigm-details">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{% trans "ID" %}</th>
                        <th>{% trans "MSD" %}</th>
                        <th>{% trans "Word form" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for msd, wordforms in generated_miniparadigms.items %}
                        {% for wordform in wordforms %}
                            <tr>
                                {% if forloop.first %}
                                    <td rowspan="{{ wordforms|length }}">-</td>
                                {% endif %}
                                <td>{{ msd }}</td>
                                <td>{{ wordform }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endwith %}

    <h2>{% trans "Sources" %}:</h2>
    {% with object.source_set.all as sources %}
        {% if sources %}
            <div id="sources-details">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{% trans "ID" %}</th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Type" %}</th>
                        <th>{% trans "Page" %}</th>
                        <th>{% trans "Notes" %}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for s in sources %}
                        <tr>
                            <td>{{ s.id }}</td>
                            <td>{{ s.name }}</td>
                            <td>{{ s.type }}</td>
                            <td>{{ s.page }}</td>
                            <td>{{ s.notes|linebreaksbr }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}