<?xml version="1.0" encoding="UTF-8"?>
<r id="{{ src_lang }}{{ tgt_lang }}"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
   xmlns:fn="http://www.w3.org/2005/02/xpath-functions"
   xml:lang="{{ src_lang }}">
    <lics xml:space="preserve">
        <lic xml:lang="en">
            This code is made available under a Creative Commons Attribution license
            <a>http://creativecommons.org/licenses/by/3.0/no/deed.en</a>.
            You are free to copy, distribute and adapt the work, as long as you always give
            proper attribution using the attribution text below.
            For the full license text, see the link above.
        </lic>
        <ref>
            Work by AKU, Kone foundation, Giellatekno at UiT and members of the language communities.
            Source code available at <a>https://victorio.uit.no/langtech/trunk/</a>.
        </ref>
        <sourcenote>
            THIS TEXT IS THE ORIGINAL SOURCE CODE.
            This is NOT a fully styled and published dictionary.
            As such it can and will contain unfinished entries, unpublished entries,
            entries with objectionable translations, etc. If you find any errors
            or want to add more words, download the file, edit it, and send it back to
            <a>mailto:giellatekno@hum.uit.no</a>.
     </sourcenote>
    </lics>
    {% autoescape off %}{% for grouped_relation in grouped_relations %}
        {% include "export/dict_xml_e.html" with grouped_relation=grouped_relation pos=pos %}
    {% endfor %}{% endautoescape %}
</r>