{% with object=grouped_relation.1.0.lexeme_from translations=grouped_relation.1 %}
    <e>
        <lg>
            <l pos="{{ object.pos }}"{% if pos|upper == 'N_PROP' %} type="Prop"{% endif %} {% if object.homoId > 0 %} hid="Hom{{ object.homoId|add:1 }}"{% endif %}>{{ object.lexeme }}</l>
            <stg>{% for stem in object.stem_set.all|dictsort:"order" %}
                    <st Contlex="{{ stem.contlex }}">{{ stem.text }}</st>
            {% endfor %}</stg>
        </lg>
        {% for translation in translations %}
            <mg relID="{{ forloop.counter0 }}">
                <tg xml:lang="{{ translation.lexeme_to.language }}"> {% for specific in translation.relationmetadata_set.all %}
                        {% if specific.language == object.language  and specific.type == 1 %}
                    <re>{{ specific.text }}</re>{% endif %}{% endfor %}
                    <t pos="{{ translation.lexeme_to.pos }}">{{ translation.lexeme_to.lexeme }}</t>
                </tg>
            </mg>
        {% endfor %}
    </e>
{% endwith %}