{% extends 'dictionary/template.html' %}
{% load i18n %}
{% load custom_tags %}
{% load widget_tweaks_extras %}
{% load widget_tweaks %}

{% block main_content %}
    <form method="get">
        <div class="well mt-3">
            <div class="row">
                <div class="form-group col-sm-6 col-md-6">
                    {{ filterset.form.lexeme.label_tag }}
                    <div class="row">
                        <div class="col-sm-8 col-md-8">
                            {% render_lookup_choice_field filterset.form.lexeme 0 class="form-control" %}
                        </div>
                        <div class="col-sm-4 col-md-4">
                            {% render_lookup_choice_field filterset.form.lexeme 1 class="form-control" %}
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-2 col-md-2">
                    {{ filterset.form.language.label_tag }}
                    {% render_field filterset.form.language class="form-control" %}
                </div>
                <div class="form-group col-sm-2 col-md-2">
                    {{ filterset.form.pos.label_tag }}
                    {% render_field filterset.form.pos class="form-control" %}
                </div>
                <div class="form-group col-sm-2 col-md-2">
                    {{ filterset.form.order_by.label_tag }}
                    {% render_field filterset.form.order_by class="form-control" %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-search"></span> {% trans "Search" %}
            </button>
        </div>
    </form>

    <br/>

    <table class="table">
        <tbody>
        {% for obj in object_list %}
            <tr id="lexeme-{{ obj.id }}">
                <td>
                    <b><a href="{% url 'lexeme-detail' pk=obj.pk slug=obj.slug %}?{% query_transform request lastlexeme=obj.pk %}">{{ obj.lexeme }}</a></b> <i>{{ obj.pos|lower }}.</i> ({{ obj.language }})
                    <ul>
                    {% for relation in obj.get_translations.all %}
                        <li><b><a href="{% url 'lexeme-detail' pk=relation.lexeme_to.pk slug=relation.lexeme_to.slug %}?{% query_transform request lastlexeme=relation.lexeme_to.pk %}">{{ relation.lexeme_to.lexeme }}</a></b></b> <i>{{ relation.lexeme_to.pos|lower }}.</i> ({{ relation.lexeme_to.language }})</li>
                    {% endfor %}
                    </ul>
                    {% with examples=obj.example_set.all %}
                        {% if examples %}
                            <i>{% trans "Examples" %}:</i>
                            <ul>
                            {% for example in examples %}
                                <li>{{ example }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?{% param_replace page=1 %}">{% trans "First" %}</a>
            {% if page_obj.previous_page_number != 1 %}
                <a href="?{% param_replace page=page_obj.previous_page_number %}">{% trans "Previous" %}</a>
            {% endif %}
        {% endif %}

        {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}

        {% if page_obj.has_next %}
            {% if page_obj.next_page_number != paginator.num_pages %}
                <a href="?{% param_replace page=page_obj.next_page_number %}">{% trans "Next" %}</a>
            {% endif %}
            <a href="?{% param_replace page=paginator.num_pages %}">{% trans "Last" %}</a>
        {% endif %}
        <p></p>
    {% endif %}
    <p><b>{% trans "Total" %}:</b> {{ page_obj.paginator.count }} {% if is_paginated %}({% trans "Showing" %}:
        {{ page_obj.start_index }}—{{ page_obj.end_index }}){% endif %}</p>
{% endblock %}