.header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.sticky-sidebar-container {
    position: relative;
}

.sticky-sidebar {
    position: absolute;
    width: 140px;
    top: 0;
}

.search-table {
    table-layout: fixed;
    word-wrap: break-word;
}

ul.dashed {
    list-style: none;
    padding-left: 0;
}

ul.dashed > li {
    margin-left: 15px;
}

ul.dashed > li::before {
    content: "- ";
    margin-left: -15px;
}