{% load i18n %}
{% load static %}
{% load account %}
{% load custom_tags %}
{% load crispy_forms_tags %}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    {% block head %}
    <title>{% block title %}{{ title }}{% endblock %} - {% blocktrans %}Verdd{% endblocktrans %}</title>
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

</head>

<body>
    {% block body %}
    {% block navigation %}
    <div class="container">
        <header class="header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="btn btn-sm btn-outline-secondary" href="#" onclick="history.go(-1); return false;">
                        {% blocktrans %}Back{% endblocktrans %}
                    </a>
                    {% block navigation-dropdown %}
                    <div class="dropdown d-inline">
                        <a class="btn btn-outline-primary btn-sm" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                            </svg>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="{% url 'relation-search' %}">
                                    {% blocktrans %}Search Relations{% endblocktrans %}
                                </a>
                            </li>
                            {% if user.is_admin_or_staff %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'lexeme-filter' %}">
                                    {% blocktrans %}Manage Lexemes{% endblocktrans %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'lexeme-add' %}">
                                    {% blocktrans %}Add Lexeme{% endblocktrans %}
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'symbol-list' %}">
                                    {% blocktrans %}Symbols{% endblocktrans %}
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'file-request' %}">
                                    {% blocktrans %}Downloads{% endblocktrans %}
                                </a>
                            </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'language-paradigm-list' %}">
                                        {% blocktrans %}Language Paradigms{% endblocktrans %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endblock %}
                </div>
                <div class="col-4 text-center">
                    <a class="header-logo text-dark" href="{% url 'index' %}">
                        {% blocktrans %}Verdd{% endblocktrans %}
                    </a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    {% if user.is_authenticated %}
                    <div class="me-3">
                        {% user_display user %}
                    </div>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'account_logout' %}">
                        {% blocktrans %}Logout{% endblocktrans %}
                    </a>
                    {% else %}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'account_signup' %}">
                        {% blocktrans %}Signup{% endblocktrans %}
                    </a>
                    <a class="btn btn-sm btn-outline-primary ms-1" href="{% url 'account_login' %}">
                        {% blocktrans %}Sign In{% endblocktrans %}
                    </a>
                    {% endif %}
                </div>
            </div>
        </header>
    </div>
    {% endblock %}


    <div class="container">
        {% block main_container %}
        <main role="main">
            <div class="container-content">
                {% block main_content %}
                {% endblock %}
            </div>
        </main><!-- /.container -->
        {% endblock %}

        {% block footer %}
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-6 col-md dropdown show">
                    <div class="text-center">
                        <a class="header-logo text-dark" href="{% url 'index' %}">
                            {% blocktrans %}Verdd{% endblocktrans %}
                        </a>
                    </div>

                </div>
                <div class="col-6 col-md text-center">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_language_info for LANGUAGE_CODE as lang %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    <a class="dropdown-toggle" href="#" role="button" id="languageLink" data-bs-toggle="dropdown">
                        {{ lang.name_local }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="languageLink">
                        {% for language in languages %}
                        <a class="dropdown-item language-select" href="#"
                            data-lang="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</a>
                        {% endfor %}
                    </div>
                    <form action="{% url 'set_language' %}" method="post" id="language-form">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <input name="language" type="hidden" value="{{ redirect_to }}">
                    </form>
                </div>
        </footer>
        {% endblock %}
    </div>
    {% endblock %}
    {% block js %}
    <!-- Optional JavaScript -->
    <!-- Bootstrap JS with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.language-select').forEach(function (element) {
                element.addEventListener('click', function (event) {
                    event.preventDefault();
                    let languageForm = document.getElementById('language-form');
                    let selectedLanguage = this.getAttribute('data-lang');
                    languageForm.querySelector("input[name=language]").value = selectedLanguage;
                    languageForm.submit();
                });
            });
        });
    </script>

    {% endblock %}
</body>

</html>